* {
	
	color: #ffbf00;
	font-family: sans-serif;
	font-style: italic;
	text-shadow: 1px 1px 1px #aa21a1;
}

h1 {
	text-align: center;
	color: #ffffff;
	background-color: #111111;
	border: 2px solid #ffffff;

}
body {
	background-image: url(../img/main.jpg);
	width: 95%;
	background-size: cover;
}

.porte {
	background-image: url(../img/tardis.png) ;
	background-attachment:fixed;
	background-position: center;
	background-size: cover;
	margin-bottom: 1%;

}
li {
	list-style: none;
}

nav {
	display: flex;
	justify-content: space-between;
	position: sticky;
	position: -webkit-sticky;
	top : 4px;
	background-image: url(../img/main.jpg)
}

nav img {
	width: 30px;
	height: 30px;

}

a {
	text-decoration: none;
}


a:hover{
	color: #55ccaa;
}

a *:hover{
	color: #55c5aa;
}

li, p{ 

	text-shadow: 1px 1px 1px #111111;
	color: #ffffff; 
}

form{
	background-image:url(../img/tardis.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 35%;
	vertical-align: center;
	padding-bottom: 20%;
	padding-left: 20%;
	display: flex;
	align-content: center;
	text-align: center;
	
}

input{ 
	color: #333333;

}
button {
	color: #333333;
}

.boot{ 
	position: relative;
	bottom: 1%;
}

span {
	color: #aaaaaa;
}

h2 {
	text-align: center;
}
ol {
	margin: 0;
	padding: 10px;
}